:root{
    --maincolor:white;
    --mainbackground:black;
    --highlightedbackground:linear-gradient(180deg red black red);

}
body{
    padding:0;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    
}

/* HEADER */
header{
    background-image:url("header.jpg");
    background-size: cover;
    text-align: center;
    position: relative;

}
H1{
    padding: 8%;
    margin:0;
    color:orange;
    text-shadow: 4px 4px 4px black;
}

/* Menu */
Nav{
    background-color: var(--mainbackground);
    color: var(--maincolor);
    width: 100%;
    position: sticky;
    top: 0;
    padding: 18px;
    z-index: 100;
}
.buttons{
    display: inline;
    position: absolute;
    right: 10vw;
} 
button{
    background-color: var(--mainbackground);
    color: var(--maincolor);
    margin:0 40px;
    border: none;
    font-size: 1rem;
}
ol{
    padding: 0;
    display: inline;
   
}
li{
    list-style-type: none;
    padding:0 40px;
    color:var(--maincolor);
    display: inline;
}

/* Main */
Main{
    width: 80%;
    margin: 15px auto;
}
article{
    background-color: rgb(231, 231, 231);
    margin-bottom: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    position: relative;
}
section{
    width: 100%;
    position: relative;
    text-align: justify;
}
.textspan{
    display: block;
    width: 35%;
    padding: 0 2.5%;
    border-radius: 10px;
}
#firstArticle section:nth-child(even) .textspan{
    border: solid 2px orange;
    position: relative;
    left: 55%;
}
#firstArticle section:nth-child(odd) .textspan{
    border: solid 2px rgb(107, 173, 218);
    position: relative;
    left: 5%;
}
/* The Dots */
.dots{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgb(107, 173, 218);
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    z-index: 50;
}
#firstArticle section:nth-child(even) .dots{
    background-color: orange;
    left:50%;
}
/* The Middle-line */
#line{
    height: 95%;
    background-color: rgb(182, 182, 182);
    width: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top:2.5%;
    z-index: 10;
}

/* Main Second Article */
#secondArticle{
    height: 280px;
    padding-top: 0;
}
#secondArticle section{
    width: 45%;
    padding:10px
    
}
#secondArticle section:nth-child(1){
    background-color: orange;
    position:relative;
}
#secondArticle section:nth-child(2){
    background-color: rgb(171, 233, 230);
    position:absolute;
    left: 25%;
    top: 10%;
}
#secondArticle section:nth-child(3){
    background-color: rgb(184, 154, 218);
    position:absolute;
    left: 50%;
    top:20%;
}
#secondArticle section:hover{
    z-index: 80;
}

/* Footer */
footer{
    background-color: var(--mainbackground);
    color: var(--maincolor);
    width: 100%;
    text-align: center;
    position: Fixed;
    bottom: 0;
    z-index: 100;
}
#Homebutton{
    position: absolute;
    right: 0px;
    top: 5px;
    background-color: rgb(252, 223, 196);
    color: orange;
    border:orange solid 2px;
    border-radius: 10px;
    height: 40px;
    font-size: 0.7rem;
    transition: transform 0.2s;
}
#Homebutton:hover{
    transform:scale(1.2)
}
li:hover{
    color: grey;
}
button:hover{
    color: grey;
}